{% extends "login/layout/base.html" %}
{% block content %}
<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_table-->

<body id="teman">
  <form action="">
      <input type="radio" name="search" id="list_npm" value="npm" checked="checked"> NPM<br>
      <input type="radio" name="search" id="list_name" value="name"> Nama<br>
      <input type="radio" name="search" id="list_angkatan" value="angkatan"> Angkatan<br>
      <input type="radio" name="search" id="list_keahlian" value="keahlian"> Keahlian<br>
      <input type="radio" name="search" id="list_level" value="level"> Level
  </form>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search.." title="Type something">

  <table id="myTable">
    <tr class="header">
      <th style="width:20%;">NPM</th>
      <th style="width:20%;">Nama</th>
      <th style="width:20%;">Angkatan</th>
      <th style="width:20%;">Keahlian</th>
    </tr>
      {% for mhs in list_mahasiswa %}
      <tr>
        <td> {{ mhs.kode_identitas }}</td>
        <td> {{ mhs.nama }}</td>
        <td> 20{{ mhs.kode_identitas|slice:"0:2"}}</td>

        <!--keahlian-->
        
        <td>
      </tr>
      {% endfor %}
  </table>

<script>
function myFunction() {
    var input, filter, table, tr, td, i;
   
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      if (document.getElementById('list_npm').checked) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
        }       
      }
      if (document.getElementById('list_name').checked) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
        }       
      }
      if (document.getElementById('list_angkatan').checked) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
        }       
      }

    }
}
</script>

</body>

{% endblock %}