{% extends "login/layout/base.html" %}

{%block content%}



<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }
    
    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
        IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
    }

    // Handle the successful return from the API call
    function displayProfileData(data){
        var user = data.values[0];
        console.log("set user data");
        console.log("Nama: "+user.emailAddress);
            document.getElementById("picture").innerHTML = '<img src="'+user.pictureUrl+'" height="100" width="100" class="img-circle">';
            document.getElementById("name").innerHTML = 'Nama: '+user.firstName+' '+user.lastName;
            //document.getElementById("intro").innerHTML = user.headline;
            document.getElementById("email").innerHTML = 'E-mail: '+user.emailAddress;
            //document.getElementById("location").innerHTML = user.location.name;
            document.getElementById("link").innerHTML = '<a href="'+user.publicProfileUrl+'" target="_blank">Visit profile</a>';
            document.getElementById('profileData').style.display = 'block';
        // $.ajax({
        //     method: "POST",
        //     url: '{% url "profile:set_user_data" %}',
        //     data: {
        //         name = user.firstName,
        //         email = user.emailAddress
        //     },
        //     dataType: 'json',
        //     success: function(user){
        //         console.log("Nama: "+user.firstName);
        //     },
        //     error: function(error){
        //         alert("Antara fungsinya belom bikin, atau linked in cari perkara");
        //     }
        // });
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
    
    // Destroy the session of linkedin
    function logout(){
        IN.User.logout(removeProfileData);
    }
    
    // Remove profile data from page
    function removeProfileData(){
        document.getElementById('profileData').remove();
    }

    function addSkill(){
        $('#user-skill').append('<table>'+
        '<tr style="padding: 10px 20px 10px 20px">'+
            '<th >'+
        '<select>'+
          '<option value="java">Java</option>'+
          '<option value="c++">C++</option>'+
          '<option value="python">Python</option>'+
        '</select>'+
            '</th>'+
          '<th style="padding: 10px 20px 10px 20px">Level:</th>'+
            '<th>'+
        '<select>'+
        '<option value="beginner">Beginner</option>'+
        '<option value="intermediate">Intermediate</option>'+
        '<option value="advance">Advance</option>'+
        '</select>'+
            '</th>'+
        '</tr>'+
    '</table>')
    }
</script>


<div class="container">
    <center>
    	<div id = "picture"></div>
    	<h4 id="npm"> {{ kode_identitas }} </h4>
    	<span><button onclick="">SIMPAN</button></span>
    	<span><button onclick="location.href='{% url 'profile:index' %}'">KELUAR</button></span>
    </center>
  <h2>Data Pribadi</h2>
  <div id="name">
    <script type="IN/Login"></script>
  </div>
  <div id="email"></div>
  
  <span>
    <p>Tampilkan nilai:</p>
    <input type="radio" id="akses-nilai" name ="nilai" value="no" checked="True"> Tidak
    <input type="radio" id="akses-nilai" name="nilai" value="yes"> Ya
  </span>
  
  <div id="user-bio"></div>
<table>
  <tr>
      <th><h2>Keahlian</h2></th>
      <th><button onclick="addSkill()" style="margin-left: 20px">+</button></th>
  </tr>
</table>
  <div id="user-skill">
    <table>
        <tr style="padding: 10px 20px 10px 20px">
            <th >
        <select>
          <option value="java">Java</option>
          <option value="c++">C++</option>
          <option value="python">Python</option>
        </select>
            </th>

            <th style="padding: 10px 20px 10px 20px">Level:</th>
            <th>
        <select>
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="advance">Advance</option>
        </select>
            </th>
        </tr>
    </table>
  </div>
</div>
{% endblock %}