{% extends "login/layout/base.html" %}

{% block content %}
<h1 style="text-align:left;"><strong>Selamat Datang, {{ author }}</strong></h1>
<table cellpadding="10">
	<tr>
		<td rowspan="2" style="padding-right:20px"><img src="http://www.contribcity.com/images/dummy-profile-pic.png" style="width: 200px"></td>
		<td align="center" style="padding-right:200px"><input type="button" value="Lihat Forum"></td>
		<td align="right" style="padding-right:200px"><h3>Jumlah Status: {{ status }} post</h3></td>
	</tr>
		<td style="padding-right:200px"><input type="button" value="Edit Profile" onclick="location.href='{% url 'profile:edit_profile' %}'"></td>
		<!-- <td><input type="button" value="Edit Profile"></td> -->
		<td style="padding-right:200px"><h3>{{ status_akhir }} </h3></td>
	</tr>	
</table>
<p></p>
<p></p>

<table cellpadding="5" cellspacing="5" href="#" data-toggle="popover" data-content="Silahkan isi profile anda!">
	<tr>
		<td align="left"><h4>Nama</h4></td>
		<td align="left"><h4>{{ nama }}</h4></td>
	</tr>
	<tr>
		<td align="left"><h4>NPM</h4></td>
		<td align="left"><h4>{{ kode_identitas }}</h4></td>
	</tr>
	<tr>
		<td align="left"><h4>Keahlian</h4></td>
		<td align="left"><h4>{{ keahlian }}</h4></td>
	</tr>
	<tr>
		<td align="left"><h4>Email</h4></td>
		<td align="left"><h4>{{ email }}</h4></td>
	</tr>
	<tr>
		<td align="left"><h4>Profile LinkedIn</h4></td>
		<td align="left"><h4>{{ linkedIn }} </td>
</table>
<!-- Content Here -->
<script>
	$(document).ready(function(){
    	$('[data-toggle="popover"]').popover();   
	});
</script>

{% endblock %}
