{% extends "login/layout/base.html" %}
{% block content %}
  <div class="panel-body">
    <table class="table">
      <thead>
        <th> No </th>
        <th> Nama Mata Kuliah </th>
        <th> Kode Kelas </th>
        <th> Nilai </th>
        <th> Term </th>
      </thead>
      <tbody>
        {% for matkul in matkuls %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{matkul.kelas.nm_mk_cl.nm_mk}}</td>
          <td>{{matkul.kelas.kd_kls}}</td>
          <td>{{matkul.nilai}}</td>
          <td>{{matkul.term}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
{% endblock %}